<p style="color:@Color">
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. In a vulputate magna, ac tempor eros. 
    Sed non magna sed risus facilisis euismod. Praesent ut lorem ac quam ultricies posuere. Phasellus 
    ultricies urna in faucibus sagittis. Nam sollicitudin et massa et vestibulum. In rhoncus sit amet mi 
    eget rutrum. Nam vehicula ornare augue, sed pellentesque lectus malesuada nec. Duis sagittis ipsum vitae 
    metus sagittis, et gravida urna cursus. Aenean aliquam odio condimentum vulputate facilisis. Quisque non 
    lectus at tellus aliquam vestibulum. Curabitur luctus molestie magna ac dictum. Nunc hendrerit dui sagittis, ultricies lectus quis, lobortis tortor. Aenean ac vulputate tellus, in vulputate arcu. 
    Mauris aliquet nec nisi et congue.
    Integer eget mi ex. Mauris pulvinar, nibh vitae pharetra dapibus, dolor velit auctor ex, 
    nec tincidunt libero ex eu dolor. Donec nec sem magna. Aliquam non tincidunt ligula. 
    Donec augue risus, egestas suscipit pharetra efficitur, vestibulum aliquet magna. Fusce venenatis lorem 
    sit amet nulla porttitor, eget ornare ex varius. Quisque consectetur lacus vitae dignissim posuere. 
    Sed quis quam malesuada, fermentum dolor nec, dapibus ligula. Mauris quis felis massa. Suspendisse sed 
    quam accumsan, malesuada justo et, molestie ex. Aliquam volutpat pulvinar neque, quis luctus nibh posuere 
    vitae. Curabitur malesuada lectus quis lacinia aliquet.
    Sed non est neque. Donec eu bibendum sapien. Nulla sed ligula a ante venenatis dictum. 
    Praesent venenatis tincidunt ex id faucibus. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed mattis mi ac arcu convallis convallis. Proin ultrices erat cursus dui tincidunt, eget aliquet lectus aliquet. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris vel orci magna. Cras ornare sapien at ligula pretium lobortis eu eget purus. Etiam a blandit tellus. Vivamus eu nisl in elit aliquet consectetur. Mauris rutrum pharetra tortor, non lacinia metus aliquet eget. Integer venenatis neque vitae vulputate porta. Praesent nisl purus, dignissim id nulla et, 
    volutpat fermentum sem.
    Pellentesque eu magna sed leo vestibulum condimentum a vitae mi. Ut lacus ante, scelerisque non metus id, facilisis scelerisque nisi. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nulla commodo risus sit amet lectus dignissim sollicitudin. Cras ligula erat, consectetur id viverra quis, blandit ac sem. Donec non posuere mauris. Nunc in libero cursus, facilisis sapien vitae, tincidunt purus. Sed auctor ut metus ac viverra. Aliquam nec nibh sit amet quam egestas laoreet.
    Integer egestas, mi ut mattis ullamcorper, lorem leo venenatis arcu, dapibus sodales sem arcu id neque. Phasellus dapibus lectus in tellus tristique molestie sed id tortor. Integer pulvinar metus eu urna ullamcorper malesuada. In hac habitasse platea dictumst. Pellentesque sed lacus suscipit, convallis tellus sed, eleifend dolor. Cras et accumsan orci, ac semper nunc. In ligula sem, mollis ut tincidunt ut, auctor laoreet mauris.
</p>

@code {

    [Parameter]
    public string? Color { get; set; }

}
