@page "/NOWYKOMPONENT"

<h3>Strona 4 na ocene 4</h3>

<p>Ten wyraz jest <em>pochylony</em> ponieważ tak miało być</p>

<p> To jest dodatkowa strona na ocenę 4 :)</p>

<NOWYKOMPONENT Color="blue" />

@code {

}
