@page "/NOWYKOMPONENT"

<h3>Strona 4 na ocene 4</h3>

<p>Ten wyraz jest <em>pochylony</em> ponieważ tak miało być</p>

<p> <span style="color: fuchsia">To jest dodatkowa strona na ocenę 4 :)</span> </p>



@code {
  
}
